<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn</title>
</head>
<body>
  <a href="{% url 'index' %}">Главная страница </a>
  <a href="{% url 'topics' %}"> Мои темы </a>
  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'logout' %}">выход</a>
  {% else %}
    <a href="{% url 'login' %}">войти</a>
  {% endif %}
  {%block content%} {%endblock content%}
</body>
</html>
